/* PAGE */

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

body {
  height: 100vh;
  width: 100vw;

  overflow: hidden;

  background-color: #fff;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

#pegglecoin-ico { position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: -1; }

#pegglecoin {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 96px;
  font-size: 10vw;
}

/* Very important to polyfill this */
blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
